.calendly-badge-content {
  display: none !important;
}

// .branding .badge a{
//         background-color: #00a2ff;
// }

.wrap {
  height: 100%;
  width: 100%;
}

.parallaxParent {
  height: 100vh;
  overflow: hidden;
}
// .parallaxParent > * {
//     height: 200%;
//     position: relative;
//     top: -100%;
// }
.pvbanner {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #8739e5 0%, #5496ff 100%);
  // display: table;
  position: relative;
  overflow: hidden;
  display: table;

  &-hero {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%,-50%) !important;
    // width: 60%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 10;
    // transform: translateY(0%) !important;

    // @include respond(tab-land){
    //     width: 70%
    // }

    // @include respond(tab-port){
    //     width: 90%
    // }

    &-text {
      color: $color-white;
      line-height: 45px;
      font-family: sf_ui_text_light;
      width: 60%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 70%;
      }

      @include respond(tab-port) {
        width: 90%;
      }

      span {
        font-family: $base-font;
        font-weight: 400;
      }

      @include respond(phone) {
        font-size: 18px;
      }

      @include respond(phone-md) {
        font-size: 16px;
      }
    }
  }
  .pvbanner-rect1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 26%;
    /* right: 0; */
    top: 10%;
    /* bottom: 56.5%; */
    background: #f9f9f9;
    opacity: 0.15;
    border-radius: 50px;
    transform: rotate(-30deg);

    @include respond(tab-port) {
      left: 68%;
      top: 22%;
      transform: rotate(45deg);
    }
  }

  .pvbanner-rect2 {
    width: 455px;
    height: 260px;
    position: absolute;
    left: -2.6%;
    /* right: 38%; */
    top: -24%;
    bottom: 91%;
    background: #f9f9f9;
    opacity: 0.15;
    border-radius: 50px;
    transform: rotate(-30deg);
  }
  p {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-white;

    @include respond(phone) {
      bottom: 5px;
    }
  }
}

.pvbanner::after {
  content: "";
  position: absolute;
  bottom: 110px;
  left: 50%;
  height: 5%;
  width: 1px;
  background: $color-white;
  display: block;
  z-index: 1;
  opacity: 0.8;

  @include respond(phone) {
    bottom: 50px;
  }
}

.pvsection--sm {
  padding: 135px 0;

  @include respond(tab-port) {
    padding: 50px 0;
  }

  @include respond(phone) {
    padding: 25px 0;
  }
}

.pvsection--lg {
  padding: 165px 0;

  @include respond(tab-port) {
    padding: 60px 0;
  }
  @include respond(phone) {
    padding: 40px 0;
  }
}

.pvsection--bg {
  background: $color-process;
}

.pvsection--skew {
  transform: skewY(-3deg);

  .container {
    transform: skewY(3deg);

    @include respond(phone) {
      transform: skewY(0deg);
    }
  }

  @include respond(phone) {
    transform: skewY(0deg);
  }
}
//Brand logso

.pvbrands-logos {
  margin-top: 50px;

  @include respond(phone) {
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 20px 40px;

      img {
        max-width: 100%;
        width: 150px;
      }

      @include respond(phone) {
        width: 50%;
        padding: 20px 15px;
      }

      &:last-child {
        img {
          // height: 60px;
          width: 65px;
        }
      }
    }
  }
}

//Services Section

.pvservices {
  position: relative;
  overflow: hidden;

  &-heading {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 175px;

    @include respond(tab-port) {
      margin-top: 50px;
    }
  }
  &-desc {
    color: $color-base;
    line-height: 24px;
  }

  .rect {
    // position:absolute;
    // // -webkit-clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
    // // clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
    // // background:#f9f9f9;
    // // width:70%;
    // height:485px;
    // top:0;
    // left:0;
    // // border-radius:10px;
    // mix-blend-mode: normal;
    // opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 500px solid #f9f9f9;
    border-left: 200px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 50%;
    transform: rotate(180deg);
  }
  .m-t-60,
  .m-t-90 {
    @include respond(tab-port) {
      margin-top: 20px;
    }
  }
}

.pvworks {
  img {
    max-width: 100%;
    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.5);
    border-style: inset;
    border: 10px solid #fff;
    margin-bottom: 30px;
  }
  &-desc {
    margin-bottom: 50px;
    color: gray;
  }
  a {
    color: #000;
    cursor: pointer;
  }
  .btn {
    color: #fff;
    background: linear-gradient(-45deg, #8739e5 0%, #5496ff);
    margin-right: 15px;
    font-weight: bold;
    padding: 8px 20px;
  }
  p {
    color: gray;
  }
  .paddingRight {
    padding-right: 40px;
    @include respond(tab-port) {
      padding-right: 15px;
    }
  }
  .paddingLeft {
    padding-left: 40px;
    @include respond(tab-port) {
      padding-left: 15px;
    }
  }
  &-shareImg {
    width: 14px;
    box-shadow: none !important;
    border: none !important;
    margin-left: 8px;
    margin-bottom: 0 !important;
  }
}

.pvprocess {
  &-desc {
    color: $color-base;
    line-height: 30px;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 85px;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &-timeline {
    position: relative;

    &-content {
      padding: 20px;

      @include respond(phone-sm) {
        padding: 10px 0;
      }

      .content-wrapper {
        position: relative;
        overflow: auto;
        padding: 15px 0px;
        // margin-bottom: 20px;

        span {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background: $color-brand;
          width: 40px;
          height: 40px;
          padding: 6px 0px;
          border-radius: 50%;
          color: $color-white;
          font-size: 20px;
          text-align: center;
          z-index: 1;
          box-shadow: 0px 2px 5px rgba(165, 165, 165, 0.5);

          @include respond(tab-port) {
            left: 5%;
          }
          // @include respond(phone){
          //     left: 6%;
          // }
          // @include respond(phone-lg){
          //     left: 7%;
          // }
          @include respond(phone-md) {
            left: 6%;
          }
          @include respond(phone-sm) {
            left: 7%;
          }
        }

        &-desc {
          float: right;
          width: 45%;
          line-height: 25px;
          text-align: left;
          color: $color-base;

          li.right {
            list-style-type: none;
            // padding-left: 10px;

            // &:before{
            //     // content: ' - ';

            // }
          }

          li.left {
            list-style-type: none;
            // padding-right: 10px;

            // &:after{
            //     // content: ' - ';
            //     font-size: 16px;
            //     padding-right: 10px;

            //     @include respond(tab-port){
            //         content: '';
            //     }
            // }

            // @include respond(tab-port){
            //     &:before{
            //         content: ' - ';
            //         padding-left: 10px;

            //     }
            // }
          }

          &__left {
            float: left;
            text-align: right;

            // &::after{
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 50%;
            //     height: 100%;
            //     width: 2px;
            //     background:$color-brand;
            //     display: block;
            //     z-index: 1;
            // }
          }

          @include respond(tab-port) {
            float: none;
            width: 90%;
            text-align: left;
            margin-left: 10%;
          }
          @include respond(phone-lg) {
            margin-left: 17%;
            width: 83%;
          }
        }
      }

      .m-b-50 {
        @include respond(phone) {
          margin-bottom: 20px;
        }
      }
      .m-b-30 {
        margin-bottom: 15px;
      }
    }
  }

  &-timeline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background: $color-brand;
    display: block;
    z-index: -1;

    @include respond(tab-port) {
      left: 7%;
    }
    @include respond(phone) {
      left: 7.5%;
    }
    @include respond(phone-lg) {
      left: 8%;
    }
    @include respond(phone-md) {
      left: 10%;
    }
    @include respond(phone-sm) {
      left: 6%;
    }
  }
}

.pvrates {
  width: 75%;
  margin: 0 auto;

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 100%;
  }

  &-desc {
    line-height: 30px;
    color: $color-base;
    margin-bottom: 70px;
    margin-top: 30px;

    @include respond(phone) {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }
  .col-md-4 {
    @include respond(phone) {
      padding: 0;
    }
  }
  &-emp {
    color: #676767;
    font-size: 17px;
  }
}

.pvwho {
  padding: 0 10%;

  @include respond(phone) {
    padding: 0 2%;
  }
  @include respond(tab-port) {
    padding: 0 4%;
  }

  p {
    line-height: 40px;
    font-size: 20px;
    color: $color-base;

    strong {
      color: $color-hover;
      border-bottom: 1px solid;
      padding-bottom: 3px;
    }

    @include respond(phone) {
      font-size: 15px;
    }
  }

  hr {
    margin: 80px 15% 75px 15%;
    border-color: #e1e1e1;

    @include respond(phone) {
      margin: 45px 10% 50px 10%;
    }
  }

  &-testimonial {
    position: relative;
    p {
      font-size: 15px;
      line-height: 25px;
    }
    img {
      position: absolute;
      top: 5;
      left: -60px;

      @include respond(phone) {
        top: -45px;
        left: -15px;
      }
    }
    .carousel-indicators {
      bottom: -80px;

      @include respond(tab-port) {
        bottom: -50px;
      }

      @include respond(tab-port) {
        bottom: -35px;
      }

      li {
        background: $color-base;
        margin: 0 7px;
        width: 12px;
        height: 12px;
      }

      li.active {
        background: $color-brand;
      }
    }
  }
}

.pvcontact {
  position: relative;
  z-index: 1;

  &:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f9f9f9;
    transform-origin: bottom left;
    transform: skew(0deg, -3deg);

    @include respond(phone) {
      display: none;
    }
  }

  .title-sub {
    line-height: 40px;
    font-size: 30px;
    color: $color-brand;
    font-family: $title-font;
    margin-bottom: 45px;

    @include respond(phone) {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 20px;
    }
  }
  .social {
    margin-top: 120px;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0;

    @include respond(phone) {
      margin-top: 20px;
    }

    li {
      display: inline;
      padding: 15px 10px;

      img {
        &:hover {
          color: $color-hover;
        }
      }
    }
  }

  p {
    color: $color-base;
    font-size: 16px;
  }

  a {
    color: $color-hover;
    // border-bottom: 1px solid;
    font-size: 16px;
  }

  p.pvcontact-bottom {
    font-size: 12px;
    line-height: 14px;
  }
}

.pv-section--rates {
  padding-top: 160px;

  @include respond(phone) {
    padding-top: 110px;
  }
}
