// Color Variables


$color-black: 	#000;
$color-primary: #7c7c7c;

$color-hover-link:#555;


//New
$color-header:#1a1a1a;
$color-hover:#404040;
$color-base:#808080;
$color-link:#bfbfbf;
$color-white: 	#fff;
$color-brand:#8739e5; 
$color-secondary:#5496ff; 
$color-card:#e8e8e8;
$color-process:#f9f9f9;
